#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

textarea {
  width: 100%;
  border: 1px solid #aaa;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}

button svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .input-container {
    display: block;
  }

  textarea {
    width: 100%;
    height: 15vh;
    margin-bottom: 20px;
  }
}

select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 16px;
}
